/* src/Resume.css */
body {
    font-family: 'Arial', sans-serif;
    /* background-color: #f4f4f4; */
    margin: 0;
    padding: 20px;
}

.container {
    display: flex;
    max-width: 1200px;
    margin: auto;
    background: white;
    /* border-radius: 8px; */
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
}

.page {
    padding: 0px;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.8em;
    margin-top: 20px;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.2em;
}

.info-unit {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.info-header {
    font-size: 1.5em;
    border-bottom: 2px solid #0077cc;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.left-label {
    font-weight: bold;
}

.right {
    float: right;
    font-style: italic;
    color: #666;
}

ul {
    padding-left: 20px;
}

li {
    margin: 5px 0;
}

hr {
    border: 1px solid #e0e0e0;
    margin: 20px 0;
}

.headerInfoContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
}

/* 媒体查询用于小屏幕适配 */
@media (max-width: 768px) {
    .headerInfoContainer {
        flex-direction: column;
        /* 设置为上下布局 */
        align-items: flex-end;
        /* 可根据需要调整对齐方式 */
    }

    .headerInfoItemLabel {
        text-align: left;
    }
}

.headerInfoLeftContainer {
    display: flex;
    align-items: flex-end;
}

.headerInfoItemContainer {
    display: flex;
    flex-direction: row;
}

.headerInfoRightContainer {
    display: flex;
    flex-direction: column;
    gap: 2px;
}


.headerInfoItemLabel {
    text-align: right;
    width: 100px;
    margin-right: 6px;
}

.headerInfoItemDesc {}

.sectionTitle {
    font-size: 1.3em;
    font-weight: bold;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.sectionLine {
    flex: 1;
    border-bottom: 1px dashed gray;
    margin-left: 5px;
    margin-bottom: 10px;
    border-image: repeating-linear-gradient(to right, black 0, black 10px, transparent 10px, transparent 20px);
    border-image-slice: 1;
}

.workItemContainer {
    margin-bottom: 20px;
}

.skillItemContainer {
    margin-bottom: 0px;
}

.workItemInfo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.workItemInfoDate {
    font-size: 14px;
    font-style: italic;
}

.workItemInfoTitle {
    font-size: 1.07em;
    font-weight: bold;
    margin: 0px;
}

.workItemInfoTitleDesc {
    font-weight: normal;
}

.workItemDesc {
    text-align: left;
    margin: 0px;
}

.projectItemDesc {
    text-align: left;
}


.projectItemTitle {
    font-weight: 450;
    text-align: left;
}

.educationItemContainer {
    justify-content: space-between;
    display: flex;
    font-size: large;
    font-weight: 600;
}

.skillItemInfo {
    display: flex;
    align-items: flex-start;
    text-align: left;
}

.skillItemInfoTitle {
    flex: 0 0 auto;
    font-weight: bold;
    text-align: left;
    margin-left: 10px;
}

.skillItemInfoDesc {
    flex: 1 1 0;
    font-weight: normal;
    text-align: left;
    word-break: break-all;
    line-height: 24px;
}